{{ define "main" }}
<div class="prose mb-10">
  <h1 class="p-name">{{ .Title }}</h1>
  {{ .Content }}
</div>
{{- $items := $.Site.Data.media }} {{ range $items }}
<section class="mb-12">
  <h2 class="mb-3 text-base font-black">{{ .year }}</h2>
  <div class="space-y-4 sm:space-y-1">
    {{ range sort .reading ".finishedOn" "desc" }}
    <article
      class="grid sm:grid-cols-9 gap-x-2 md:gap-y-2 text-sm"
      itemprop="mainEntity"
      itemscope=""
      itemtype="http://schema.org/Book"
    >
      <div class="sm:col-span-4 font-semibold" itemprop="name">
        {{ .title }}
      </div>
      <div
        class="sm:col-span-2 truncate"
        itemprop="author"
        title="{{ .author }}"
      >
        {{ .author }}
      </div>
      <div
        class="text-xs sm:text-sm sm:col-span-2 tabular-nums"
        itemprop="dateCreated"
      >
        {{ index .finishedOn | default "Currently reading" }}
      </div>
      <div class="text-xs sm:text-sm text-slate-900">
        {{ strings.Repeat .rating "★" }}
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ end }} {{ end }}
