{{ if and .IsPage (not .Params.disableComments) }}
  {{ if .Site.Params.utterances.repo }}
  <div class="mt-12 pt-8 border-t border-gray-200">
    <h3 class="text-xl font-semibold mb-4">Comments</h3>
    <script src="https://utteranc.es/client.js"
            repo="{{ .Site.Params.utterances.repo }}"
            issue-term="{{ default "pathname" .Site.Params.utterances.issueTerm }}"
            label="{{ default "💬 comment" .Site.Params.utterances.label }}"
            theme="{{ default "github-light" .Site.Params.utterances.theme }}"
            crossorigin="anonymous"
            async>
    </script>
  </div>
  {{ end }}
{{ end }}
