.blog-logo {
  width: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}

div.blog-card {
  height: 27rem;
  @apply bg-gray-300 m-10;
  @apply shadow-xl;
  border-radius: .6rem;
  position: relative;
}

div.blog-card:hover {
  @apply shadow-2xl;
  height: 26.9rem;
  cursor: pointer;
  transition: box-shadow .5s ease-in-out;
  -webkit-animation: slide-fwd-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.blog-card .blog-card__image {
  height: 50%;
  border-radius: .6rem;
  overflow: hidden;
}

.blog-card .blog-card__image img {
  border-radius: .6rem;
}

.blog-card:hover .blog-card__image img {
  -webkit-animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(1.05);
            transform: scaleX(1.05);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(1.05);
            transform: scaleX(1.05);
  }
}

.blog-card .blog-card__body {
  min-height: 19rem;
  margin-top: -3rem;
  @apply bg-gray-200 w-full;
  border-radius: .6rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.blog-card .blog-card__body .footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 3rem;
  @apply border-gray-300 border-t;
}


div.blog-card:hover .blog-card__body {
  -webkit-animation: slide-fwd-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-fwd-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-5px);
            transform: translateZ(160px) translateY(-5px);
  }
}
@keyframes slide-fwd-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-5px);
            transform: translateZ(160px) translateY(-5px);
  }
}


@media (prefers-color-scheme: dark) {
  div.blog-card {
    @apply bg-gray-800;
  }

  .blog-card .blog-card__body {
    @apply bg-gray-800;
  }

  .blog-card .blog-card__body .footer {
    @apply border-gray-700;
  }
}
