

.resize-prof {
  width: 300px !important;
  margin-bottom: 2rem;
}

.copy-right {
  margin-top: 4px;
}

.container-project {
  width: 90%;
}

.line-numbers__collapse .stroke {
  stroke: #a0aec0;
}

.line-numbers__collapse {
  position: absolute;
  width: 10px;
  height: 12px;
  right: -5px;
  top: 63px;
  margin: 0;
}

.line-numbers__lines {
  flex: 1;
  overflow: hidden;
  margin-right: 8px;
}

.line-numbers > * {
  margin: 8px 0;
}

.line-numbers__lines pre {
  color: #718096;
  text-align: right;
  margin: 0;
}

.micro2 {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .4px;
  line-height: 18px;
}

.sidebar {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 264px;
  height: 100%;
  overflow: hidden;
  background: #edf2f7;
  border-right: 1px solid #e2e8f0;
  box-shadow: 8px 0 16px 0 hsla(0, 0%, 100%, 0.1);
  transform: translateX(-100%);
  transition: transform .15s linear;
  will-change: transform;
  z-index: 20;
  contain: layout paint size;
}

.sidebar__wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.sidebar.opened {
  transform: none;
}

.switch-toggle {
  position: relative;
  left: 20%;
	display: inline-block;
	width: 120px;
	height: 35px;
	border-radius: 25px;
	background-color: #a0aec0;
}

.switch-toggle input {
	display: none;
}

.switch-toggle div {
  position: absolute;
  z-index: 10;
	border-radius: 50%;
	background-color: #7510F7;
	transition: .1s ease;
}

.switch-toggle input:checked + div {
	left: 45%;
	background-color: #7510F7;
}

.switch-toggle.rect {
	border-radius: 5px;
}

.switch-toggle.rect div {
	border-radius: 15px;
}

.switch-toggle.outer div {
	width: 70px;
	height: 40px;
	top: -3px;
	left: -4px;
	
}

.logo {
  width: 50px;
  cursor: pointer;
}

.resize-footer-logo {
  width: 100px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .menu-btn:checked ~ .menu {
    background: #1a202c;
  }

  .navicon::before,
  .navicon::after {
    background: #eeeeee;
  }
  .sidebar {
    background: #1a202c;
    border-right: 1px solid #2d374856;
    box-shadow: 8px 0 16px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 767px) {
  /* .navicon {
    width: 1.125em;
    height: .125em;
  }

  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
    content: '';
    background: #3D4852;
  }

  .navicon::before {
    top: 5px;
  }

  .navicon::after {
    top: -5px;
  }

  .menu-btn:not(:checked) ~ .menu {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    display: block;
    background: #ffffff;
    z-index: 1000000;
  }

  
  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
  }
  
  .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
  }
  
  .menu-btn:checked ~ .menu-icon .navicon::before,
  .menu-btn:checked ~ .menu-icon .navicon::after {
    top: 0;
  } */
  .resize-prof {
    width: 200px !important;
  }
}
