@tailwind base;

@tailwind components;

@import './layouts.css';

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px){
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container-inner {
    max-width: 800px;
  }
}

button:focus {outline:0;}

dark-mode-toggle {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
}

@tailwind utilities;
