@tailwind base;

@tailwind components;

@import './layouts.css';
@import './arrows.css';
@import './casestudy.css';

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px){
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container-inner {
    max-width: 900px;
  }
}

button:focus {outline:0;}

@tailwind utilities;
