@tailwind base;

@tailwind components;

@import './layouts.css';
@import './arrows.css';
@import './casestudy.css';
@import './blog.css';
@import './singleBlog.css';

html {
  background-color: #ffffff;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1a202c;
  }
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px){
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container-inner {
    max-width: 900px;
  }
}

button:focus {outline:0;}

@tailwind utilities;
